# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/bin
/obj
/Properties
/packages
/Contracts/bin
/Contracts/Properties
/Contracts/obj
/Client/obj
/Client/Properties
/Client/bin
/Client
/Client/Properties
/Client/bin
/Client/obj
NeliburSimpleApp/bin/Debug/NeliburSimpleApp.exe.config
NeliburSimpleApp/bin/Debug/NeliburSimpleApp.vshost.exe.config
NeliburSimpleApp/bin/Debug/NeliburSimpleApp.vshost.exe.config
NeliburSimpleApp/obj/Debug/NeliburSimpleApp.csproj.FileListAbsolute.txt
NeliburSimpleApp/bin/Debug/NeliburSimpleApp.exe.config
NeliburSimpleApp/bin/Debug/NeliburSimpleApp.vshost.exe.config
NeliburSimpleApp/obj/Debug/NeliburSimpleApp.csproj.FileListAbsolute.txt
