<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.serviceModel>
    <services>
      <service name="Nelibur.ServiceModel.Services.Default.JsonServicePerCall" behaviorConfiguration="standardBehavior">
      <endpoint address="" binding="webHttpBinding" contract="Nelibur.ServiceModel.Contracts.IJsonService"
                   behaviorConfiguration="webHttp" />
      <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8888" />
        </baseAddresses>
      </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="standardBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
      <behavior name="webHttp">
        <webHttp />
      </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>